
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #04B45F;
}

.quem-somos{
    background-color: #A9A9F5;
    color: white;
}

.margin{
        padding-bottom: 50px;
        padding-top: 15px
}

.parceiros{
    background-color: #2E9AFE;
    color: #DF0101;
}

.serviços{
    background-color: #2EFE64;
    color: #0040FF;
}

.bg-footer{
    background-color: black;
    color: white;
}